<style>
  .main-nav
  {
      background: #ffffff;
      border-color: #666666;
  }

  .main-nav-el
  {
      margin: 0 10% 0 10%;
      min-width: 100px;
  }

  .main-nav-link
  {
      color: #339933;
      font-weight: bold;
  }
</style>

<nav class="navbar navbar-expand-sm bg-light border-bottom shadow row-12 main-nav">

  <ul class="navbar-nav col">

    <li class="nav-item col main-nav-el">
      <a class="nav-link text-nowrap" href="/"><div class="main-nav-link">Home</div></a>
    </li>

    <li class="nav-item col main-nav-el">
      <a class="nav-link text-nowrap" href="/details"><div class="main-nav-link">Details</div></a>
    </li>

    <li class="nav-item col main-nav-el">
      <a class="nav-link text-nowrap" href="/documentation"><div class="main-nav-link">Documentation</div></a>
    </li>

    <li class="nav-item col main-nav-el">
      <i><u><a class="nav-link text-nowrap" href="/my"><div class="main-nav-link">Yours</div></a></u></i>
    </li>

  </ul>

</nav>