  <nav class="navbar navbar-expand-sm bg-light border-bottom shadow row-12 main-nav">

    <ul class="navbar-nav col">

      <li class="nav-item col main-nav-el">
        <a class="nav-link text-nowrap" href="/"><div class="main-nav-link">Home</div></a>
      </li>

      <li class="nav-item col main-nav-el">
        <a class="nav-link text-nowrap" href="/details"><div class="main-nav-link">Details</div></a>
      </li>

      <li class="nav-item col main-nav-el">
        <a class="nav-link text-nowrap" href="/documentation"><div class="main-nav-link">Documentation</div></a>
      </li>

      <li class="nav-item col main-nav-el">
        <i><a class="nav-link text-nowrap" href="/my"><div class="main-nav-link">Yours</div></a></i>
      </li>

    </ul>

  </nav>