<!DOCTYPE html>
<html lang="en">
<head>

  <title>Vizard</title>

  {% load static %}

  {% include "util/header.html" %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

  {% include "util/nav.html" %}

  <div class="container main-box">

    <div class="row">

      <a href="analyze" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Perform an analysis</h4>
        <img src="{% static 'img/analysis.svg' %}"/>
      </a>

      <a href="present/data" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Look at previous analysis</h4>
        <img src="{% static 'img/data.svg' %}"/>
      </a>

    </div>


    <div class="row">

      <a href="present" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Create reports from existing data</h4>
        <img src="{% static 'img/report.svg' %}"/>
      </a>

      <a href="bot" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Interact with a chatbot to create a report</h4>
        <img src="{% static 'img/bot.svg' %}"/>
      </a>

    </div>

  </div>

</body>
</html>
