<!DOCTYPE html>
<html lang="en">
<head>

  <title>Your private space</title>

  {% load static %}

  {% include "util/header.html" %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

  {% include "util/nav.html" %}

  {% if tasks or reports%}

  <div class="bg-white shadow border-dark mx-5 my-5 px-5 py-5">

    {% if tasks %}

      <div><b>Your tasks:</b></div>

      {% for task, values in tasks.items %}

      <a href="">{{task}}</a><br>

      {% endfor %}

    {% elif reports %}

      {{ reports }}

    {% endif %}

  </div>

  {% else %}

  <div class="container main-box">

    <div class="row">

      <a href="/my/tasks" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Tasks</h4>
      </a>

      <a href="/my/reports" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Reports</h4>
      </a>

    </div>

    <!--<div class="row">-->

      <!--<div class="col shadow tile-box">-->
        <!--<h4 class="font-weight-bolder"></h4>-->
      <!--</div>-->

      <!--<div class="col shadow tile-box">-->
        <!--<h4 class="font-weight-bolder"></h4>-->
      <!--</div>-->

    <!--</div>-->

  </div>

  {% endif %}

</body>
</html>
