.v-badge
{
    font-family: 'Roboto Mono', Sans-Serif, sans-serif;
    font-weight: bolder;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

.v-badge-area
{
    font-family: 'Roboto Mono', Sans-Serif, sans-serif;
    font-weight: bolder;
    font-size: 0.75rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px dashed transparent;
    min-height: 1.6rem;
    max-height: 1.6rem;
    min-width: 2.5rem;
}

.v-metric { background: #0C0; }
.v-metric-area { background: rgba(0, 204, 0, 0.1); border-color: #0C0; }
.v-limit { background: #0AD; }
.v-limit-area { background: rgba(0, 170, 221, 0.1); border-color: #0AD; }
.v-unit { background: #B6C; }
.v-unit-area { background: rgba(187, 102, 204, 0.1); border-color: #B6C; }
.v-sign { background: #F82; }
.v-sign-area { background: rgba(255, 136, 34, 0.1); border-color: #F82; }