<!DOCTYPE html>
<html lang="en">
<head>

  <title>Presenter</title>

  {% load static %}

  {% include "util/header.html" %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

  {% include "util/nav.html" %}

  <div class="container main-box">

    <div class="row">

      <a href="data" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Tasks</h4>
      </a>

      <a href="" class="col shadow tile-box">
        <h4 class="font-weight-bolder">Something else</h4>
      </a>

    </div>

  </div>

</body>
</html>
