<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data List</title>

  {% load static %}

  {% include "header.html" %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/drag_drop.css' %}">

  <script type="text/javascript" src="{% static 'js/drag_drop.js' %}"></script>

</head>
<body>

  {% include "nav.html" %}

  <div class="bg-white shadow border-dark mx-5 my-5 px-5 py-5">

    <h2><u>Your tasks: {{ hash }}</u></h2>

    <table style="width: 100%">
      <tr>
        <th>Experiment</th>
        <th>View Data</th>
        <th>Create Report</th>
      </tr>
      {% for experiment in experiments %}
        <tr>
          <td>{{ experiment }}</td>
          <td><a href="{{ experiment }}">Data</a></td>
          <td><a href="../report/{{ experiment }}">Report</a></td>
        </tr>
      {% endfor %}
    </table>

  </div>

  <div class="container" style="width: 300px; height: 300px;">

    <div class="droparea" ondrop="drop(event, null)" ondragover="allowDrop(event, null)" style="width: 300px; height: 300px;">

    </div>

  </div>

</body>
</html>
