<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/drag_drop.css' %}">

  <script type="text/javascript" src="{% static 'js/drag_drop.js' %}"></script>

</head>
<body>

  <div class="container">

    {% for data in data_entries %}
      <p>{{ data }}</p>
    {% endfor %}

  </div>

  <div class="container" style="width: 300px; height: 300px;">

    <div class="droparea" ondrop="drop(event, null)" ondragover="allowDrop(event, null)" style="width: 300px; height: 300px;">

    </div>

  </div>

</body>
</html>
