<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}

  <title>Analyzer</title>

  {% include "util/header.html" %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/analysis.css' %}">

</head>
<body>

  {% include "util/nav.html" %}

  <div class="bg-white shadow border-dark mx-5 my-5 px-5 py-5">

    {% if hash %} <h2><u>Task-ID: {{ hash }}</u></h2>
    {% endif %}

    {% if missing%}

      <h3 class="text">
        {% if missing|length > 1 %} Missing parameters:
        {% else %}                  Missing parameter:
        {% endif %}
      </h3>

      <ul>
        {% for parameter in missing %}
          <li>{{ parameter }}</li>
        {% endfor %}
      </ul>

{#      {% for parameter in missing %}#}
{#        <p>{{ parameter }}</p>#}
{#      {% endfor %}#}

    {% else %}

      <p class="text">
        Once the analysis is finished you can either take a look at the <b>data</b>
        <a href="{{ HTTP_HOST }}/present/data/{{ hash }}">here</a>
        or instantly create a <b>report</b>
        <a href="{{ HTTP_HOST }}/present/report/{{ hash }}">here</a>.
        <br>
        <s>If you would like to get notified upon completeness of the task then

        {% if email != "" %}
          please tick this box:

          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        {% else %}
          please enter your email here: <input type="email" placeholder="you@example.com"/>
        {% endif %}
        </s>
      </p>

      <p>
        Here you can see the configuration of the running task:
      </p>

      <ul>
        <li>Tool: {{ tool }}</li>
        <li>Tool Configuration: <pre>{{config}}</pre></li>
        <li>Analysis Configuration:</li>
      </ul>

    {% endif %}

  </div>

</body>
</html>
