<!DOCTYPE html>
<html lang="en">
<head>
  <title>Analyzer</title>

  {% include "header.html" %}

</head>
<body>

  {% include "nav.html" %}

  <h2>Task: {{ hash }}</h2>

  <p class="text">
    Your task will be available <a href="{{ HTTP_HOST }}/present/data/{{ hash }}">here</a>
    once it is finished.
    If you would like to get notified upon completeness of the task then

    {% if email != "" %}
      please tick this box: <input type="checkbox"/>
    {% else %}
      please enter your email here: <input type="email"/>
    {% endif %}
  </p>

  <p>
    Here you can see the configuration of the running task.
  </p>

  <ul>
    <li>Tool: {{ tool }}</li>
    <li>Tool Configuration: <pre>{{config}}</pre></li>
  </ul>

</body>
</html>
